@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: 'white';
    background: url('/images/mondstadt.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.scrollable-section {
    overflow-y: auto;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;

    /* Hide the scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.fixed-nav {
    position: fixed;
    background: url('/images/mondstadt.jpg');
    background-attachment: fixed;
    background-size: cover;
}

@keyframes slideRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}